$fontOverpass: "Overpass", sans-serif;
$fontUbuntu: "Ubuntu", sans-serif;
$primaryLightRed: hsl(356, 100%, 66%);
$primaryVeryLightRed: hsl(355, 100%, 74%);
$secondaryLightRed: hsl(353, 100%, 62%);
$secondaryVeryLightRed: hsl(13, 100%, 72%);
$primaryBlue: hsl(208, 49%, 24%);
$primaryGrayishBlue: hsl(240, 2%, 79%);
$secondaryGrayishBlue: hsl(207, 13%, 34%);
$tertiaryGrayishBlue: hsl(237, 17%, 21%);
$primaryDesaturatedBlue: hsl(237, 23%, 32%);
$primaryBlackBlue: hsl(240, 10%, 16%);
$primaryWhite: hsl(0, 0%, 100%);
