*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.heading__primary {
  font-size: 3.3rem;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .heading__primary {
    font-size: 5rem;
  }
}

.heading__secondary {
  font-size: 3rem;
  text-align: center;
  color: #1f3f5b;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .heading__secondary {
    font-size: 4rem;
  }
}

.heading__tertiary {
  color: #1f3f5b;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.article__text {
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.footer {
  background-color: #25252d;
  border-top-right-radius: 100px;
  margin-top: 100px;
  font-family: "Overpass", sans-serif;
}
.footer .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 20px;
}
.footer .container .links {
  list-style-type: none;
}
.footer .container .links .link {
  margin-bottom: 10px;
}
.footer .container .links .link:hover {
  cursor: pointer;
}
.footer .container .links .link a {
  text-decoration: none;
  color: #c8c8cb;
}
.footer .container .links .link--main {
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .footer .container {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .footer .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 300px;
  }
}

.header {
  width: 100%;
  height: 60rem;
  position: relative;
  background: url("../../images/bg-pattern-intro-mobile.svg") left -340px bottom -470px no-repeat, linear-gradient(to top, #ff3d54, #ff8f70);
  border-bottom-left-radius: 100px;
}
.header__container {
  width: 80%;
  margin: 0 auto;
}
.header__content {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Overpass", sans-serif;
}
.header__text {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: 300;
}
.header__buttons {
  display: inline-block;
}
.header .buttons--user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .buttons--user .btn {
  background-color: transparent;
  padding: 15px 40px;
}
.header .buttons--user .btn__tertiary {
  color: #2c2d3f;
}
.header .buttons--user .btn__primary {
  color: white;
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  transition: all 0.2s ease-in;
}
.header .buttons--user .btn__primary:hover {
  background: #ff525d;
}
.header .btn {
  padding: 15px 25px;
  border: none;
  offset: none;
  border-radius: 100px;
  font-size: 1.6rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}
.header .btn:hover {
  cursor: pointer;
}
.header .btn__primary {
  color: #ff525d;
  margin-right: 10px;
  transition: all 0.2s ease-in;
}
.header .btn__primary:hover {
  background-color: #ff7a85;
  color: white;
}
.header .btn__secondary {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.header .btn__secondary:hover {
  background-color: white;
  color: #ff525d;
}
@media screen and (min-width: 768px) {
  .header {
    background: url("../../images/bg-pattern-intro-desktop.svg") top -1350px left -450px no-repeat, linear-gradient(to left, #ff3d54, #ff8f70);
  }
}
@media screen and (min-width: 1024px) {
  .header .buttons--user {
    flex-direction: row;
  }
  .header .buttons--user .btn {
    padding: 15px 25px;
  }
  .header .buttons--user .btn__tertiary {
    margin-right: 5px;
    background-color: transparent;
    color: white;
  }
  .header .buttons--user .btn__primary {
    background: white;
    color: #ff525d;
    transition: all 0.2s ease-in;
  }
  .header .buttons--user .btn__primary:hover {
    background: #ff7a85;
    color: white;
  }
}

.section {
  margin-top: 100px;
  font-family: "Overpass", sans-serif;
}
.section--top, .section--bottom {
  text-align: center;
  margin-top: 50px;
}
.section--top .article, .section--bottom .article {
  width: 80%;
  margin: 50px auto;
}
.section--mid {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: 300px;
  background: url("../../images/bg-pattern-circles.svg") top -100px right/contain no-repeat, linear-gradient(to bottom, #2c2d3f, #3f4164);
}
.section--mid .hero {
  width: 100%;
  text-align: center;
}
.section--mid .hero__img {
  width: 100%;
  transform: translateY(-50%);
}
.section--mid .article {
  width: 80%;
  margin: 0 auto;
  margin-top: -50%;
  padding-bottom: 100px;
}
.section--mid .article__text {
  color: white;
}
.section--mid .heading__tertiary {
  color: white;
  font-size: 3rem;
}
@media screen and (min-width: 600px) {
  .section--mid {
    margin-top: 300px;
    background: url("../../images/bg-pattern-circles.svg") top -500px left -200px no-repeat, linear-gradient(to bottom, #2c2d3f, #3f4164);
  }
  .section--mid .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .section--mid .hero__img {
    width: 50%;
    float: left;
    position: absolute;
    top: 50%;
  }
  .section--mid .article {
    width: 50%;
    margin-top: 0;
    padding: 120px 0;
    margin-left: 50%;
  }
  .section--mid .article__text {
    text-align: left;
  }
  .section--mid .heading__tertiary {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .section--top {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 80%;
    margin: 100px auto 0;
  }
  .section--top picture img {
    width: auto;
  }
  .section--top .article {
    margin-top: 0;
  }
  .section--top .content {
    width: 50%;
    margin-right: 50%;
  }
  .section--top picture {
    position: absolute;
    left: 55%;
    top: -50%;
  }
  .section--bottom {
    display: flex;
    position: relative;
    width: 80%;
    margin: 100px auto 0;
  }
  .section--bottom .content {
    padding-top: 150px;
    width: 50%;
    margin-left: 50%;
  }
  .section--bottom picture {
    position: absolute;
    right: 53%;
  }
  .section--bottom picture img {
    width: auto;
  }
  .section .heading__tertiary {
    text-align: left;
  }
  .section .article__text {
    text-align: left;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1024px) {
  .section {
    margin-top: 150px;
  }
}

.nav {
  height: 10rem;
  display: flex;
  align-items: center;
  position: relative;
}
.nav .links {
  background-color: white;
  text-align: center;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1;
  padding: 30px 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.nav .links.active {
  display: block;
}
.nav .links--product {
  list-style-type: none;
  border-bottom: 1px solid #c8c8cb;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.nav .links--product .link .toggle-links {
  background-color: transparent;
  border: none;
}
.nav .links--product .link .toggle-links:hover {
  cursor: pointer;
}
.nav .links--product .link .toggle-links.active img {
  transform: rotate(180deg);
}
.nav .links--product .link .toggle-links.active + .link__items {
  display: block;
}
.nav .links--product .link > a {
  display: inline-block;
  padding-bottom: 20px;
  color: #2c2d3f;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.nav .links--product .link a {
  text-decoration: none;
  color: #4b5862;
}
.nav .links--product .link__items {
  list-style-type: none;
  display: none;
  background-color: rgba(200, 200, 203, 0.3);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.nav .links--product .link__item {
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  .nav .links {
    position: relative;
    top: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-shadow: none;
  }
  .nav .links.active {
    position: relative;
    top: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-shadow: none;
  }
  .nav .links--product {
    display: flex;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .nav .links--product .link:hover .link__items {
    display: block;
  }
  .nav .links--product .link:hover .toggle-links.active + .link__items {
    display: block;
  }
  .nav .links--product .link:hover .toggle-links.active img,
.nav .links--product .link:hover .toggle-links img {
    transform: rotate(180deg);
  }
  .nav .links--product .link > a {
    display: inline-block;
    padding: 20px 0;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .nav .links--product .link .toggle-links.active img {
    transform: rotate(0);
  }
  .nav .links--product .link .toggle-links.active + .link__items {
    display: none;
  }
  .nav .links--product .link .toggle-links img {
    margin-right: 20px;
    transition: all 0.2s ease-in;
  }
  .nav .links--product .link__items {
    display: none;
    position: absolute;
    padding: 20px;
    width: 200px;
    text-align: left;
    background-color: white;
  }
  .nav .links--product .link__item {
    padding: 10px 0;
  }
  .nav .links--product .link__item:hover a {
    font-weight: 700;
  }
  .nav .links--product .link__item a {
    color: #1f3f5b;
    transition: all 0.2s ease-in;
  }
}
.nav .toggle-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav .toggle-menu.active .close__btn {
  display: block;
}
.nav .toggle-menu.active .open__btn {
  display: none;
}
.nav .toggle-menu button {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  offset: none;
}
.nav .toggle-menu .close__btn,
.nav .toggle-menu .open__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.nav .toggle-menu .close__btn:hover,
.nav .toggle-menu .open__btn:hover {
  cursor: pointer;
}
.nav .toggle-menu .close__btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav .toggle-menu {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
